{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Liste des Produits</h2>
    
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Quantité</th>
            </tr>
        </thead>
        <tbody>
            {% for produit in produits %}
            <tr>
                <td>{{ produit.nom }}</td>
                <td>{{ produit.description }}</td>
                <td>{{ produit.prix }}</td>
                <td>{{ produit.quantite }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <div class="mt-4">
        <a href="{% url 'produits:ajouter_produit' %}" class="btn btn-primary mr-2">Ajouter un Produit</a>
        <a href="{% url 'produits:make_payment' %}" class="btn btn-success">Faire un Paiement</a>
    </div>
</div>
{% endblock %}
